window {
    background-color: rgba(0, 0, 0, 0.8);
}

#input {
    background-color: transparent;
}

#expander-box {
    font-size: 0;
    min-width: 0;
}
#img {
    min-width: 16px;
    min-height: 16px;
    margin-right: 5px;
}
